@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
body .page{
  margin: 20px 80px;
}
/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position:sticky;
  top: 0;
  background-color: #141414;
  padding: 10px 0px;
  align-items: center;
  color: #fff;
}
nav .onglets{
  display:flex;
  flex-wrap:wrap;
  margin-top: 5px;
  color: #fff;
}
nav .onglets{
  display:flex;
  flex-wrap:wrap;
  color: #fff;
  
}
.accueil {
  color: #fff; 
  
}


nav .buttons .login{
  background-color: inherit;
  margin-right: 10px;
  color: #8f8f8f;
  text-decoration: none;
  padding: 20px 20px;
  margin-top: 10px;
}
nav .buttons .register{
  background-color: #f54266;
  text-decoration: none;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
 

}




